<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758836976838-003i2r9ju56aatcv6m11utekt4taebu4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758836976838-003i2r9ju56aatcv6m11utekt4taebu4</string>
	<key>API_KEY</key>
	<string>AIzaSyDHU_GEX8ozut7pVxbroWalonV0DTY2lck</string>
	<key>GCM_SENDER_ID</key>
	<string>758836976838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shree.collectionView</string>
	<key>PROJECT_ID</key>
	<string>mycollection-9b3fa</string>
	<key>STORAGE_BUCKET</key>
	<string>mycollection-9b3fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758836976838:ios:165b9f7c82d1511f</string>
	<key>DATABASE_URL</key>
	<string>https://mycollection-9b3fa.firebaseio.com</string>
</dict>
</plist>